/* INCORPORANDO HOJA DE ESTILOS AL PROYECTO... */

html, body
{
    font-family: 'Press Start 2P', cursive;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.mario-game
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: sans-serif;
    height: 715px;
}

/* PARA EL FONDO DEL JUEGO... */

.mario-game #fondo
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #6b88ff;
    z-index: 1;
}

/* POR CAPAS... */

.capas
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.1s linear;
    background-size: cover!important;
}

/* PARA LAS HIERBAS FORESTALES... */

#foreground
{
    background: url("https://itc.yananas.com/git/mario/assets/mario_layer_1.gif");
    z-index: 4;
}

/* PARA LAS PLANTAS... */

#plantas
{
    background: url("https://itc.yananas.com/git/mario/assets/mario_layer_2.gif");
    z-index: 3;
}

/* PARA LAS MONTAÑAS... */

#montanas
{
    background: url("https://itc.yananas.com/git/mario/assets/mario_layer_3.gif");
    z-index: 2;
}

/* PARA LAS NUBES... */

#nubes
{
    background: url("https://itc.yananas.com/git/mario/assets/mario_layer_4.gif");
    z-index: 1;
}

/* PARA EL JUEGO... */

.mario-game #mario
{
    position: absolute;
    left: 100px;
    bottom: 100px;
    height: 72px;
    width: 71px;
    transition: left 0.1s linear;
    z-index: 3;
    background: url("https://itc.yananas.com/git/mario/assets/mario.png") left center;
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position-y: 25px;
}

#mario-jumping
{
    animation: jump 1s ease 0s infinite normal;
    /* animation-fill-mode: forwards; */
}

/* PARA SALTAR... */

@keyframes jump
{
    0%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background-position-x: -1055px;
    }

    20%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40%
    {
        -webkit-transform: translateY(-120px);
        transform: translateY(-120px);
    }

    50%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    60%
    {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    80%
    {
        -webkit-transform: translateY(0);
        background-position: -1055px;
    }

    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

#mario.lookingLeft
{
    background-position-x: -518px;
}

#mario.lookingRight
{
    background-position-x: -610px;
}

#mario.runningRight
{
    animation: rightRunning 0.5s steps(3) infinite;
    background-position-x: -700px;
}

#mario.runningLeft
{
    animation: leftRunning 0.5s steps(3) infinite;
    background-position-x: -430px;
}

@keyframes rightRunning
{
    100%
    {
        background-position-x: -965px;
    }
}

@keyframes leftRunning
{
    100%
    {
        background-position-x: -165px;
    }
}